.root-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.box-controller{
    visibility: visible;
    margin-top:10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 18em;
    height: 70px;
    color: white;
    /* -webkit-box-shadow: 0px 0px 20px 0px rgba(204, 57, 148, 0.4); */
    /* box-shadow: 0px 0px 20px 0px rgba(204, 57, 148, 0.4); */
    align-items: center;
    transition: visibility .5s ease-out;
    box-sizing: border-box;
}

.controller{
    flex: 1;
    text-align: center;
    /* height: 100%; */
    line-height: 2;
    cursor: pointer;
    color: #521751;
}
.selected-controller{
    transition: border .5s ease-out;
    /* background-color: rgba(82, 23, 81,.2); */
    border-bottom: 2px solid #521751;
}

.box-container{
    display: flex;
    /* transition: visibility 1s ease-out; */
    transition: visibility 1s ease-out;
    visibility: visible;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
    /* max-width: 32em;
    min-width: 29em; */
    box-shadow: 0px 0px 20px 0px rgba(204, 57, 148, 0.4);
    border-radius: 6px;
    padding: 24px;
    /* background-color: #ffffff; */
    /* float: left; */
    /* background-color:rgba(82, 23, 81,.8); */
    color: white;
    /*width: 400px;*/
    /*height: 400px;*/
    margin-top: 70px;
    margin-right: 130px;
    /*margin-top: 20px;*/
    /*box-shadow: 3px 3px 5px 6px #ccc;*/
    /*background-color: #e9ecef;*/

}

@media (max-width: 768px) {
    .box-container{
        /* display: flex; */
        transition: visibility 1s ease-out;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        /* width: 100%; */
        max-width: 32em;
        min-width: 29em;
        box-shadow: 0px 0px 20px 0px rgba(204, 57, 148, 0.4);
        border-radius: 6px;
        padding: 24px;
        background-color: #ffffff;
        color: white;
    } 

    .box-controller{
        visibility: visible;
        margin-right:0px;
        width: 100%;
        height: 70px;
        color: white;
        /* -webkit-box-shadow: 0px 0px 20px 0px rgba(204, 57, 148, 0.4); */
        /* box-shadow: 0px 0px 20px 0px rgba(204, 57, 148, 0.4); */
        margin-bottom: 30px;
        align-items: center;
        transition: visibility .5s ease-out;
        box-sizing: border-box;
    }
}
.inner-container{
    transition: visibility .2s ease-out;

}
.inner-container.show{
    visibility: visible;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    font-size: 22px;
    border-bottom: 2px solid #521751;
    color:#521751 ;
}
.box input{
    width: 400px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: #521751;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: auto;
    margin-left: auto;
    transition:border 0.3s;
    border-radius: 5px;
}
.box input:focus{
    outline: none;
    border: 1px solid #521751;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-login,.btn-register{
    margin-top: 30px;
    background-color: #8f298d;
    width: 200px;
    border-radius: 30px;
    /*color:#521751 ;*/
}
.btn-login:hover{
    background-color: #521751;
    color: white;
    border: 1px solid white;
}

.btn-register:hover{
    background-color: #521751;
    color: white;
    border: 1px solid white;
}
.btnRegisterT{
    background-color: #521751;
    color:white ;
    width: 170px;
    height: 40px;
    border-radius: 30px;
}
.btnRegisterT:hover{
    /* background-color:#fa923f; */
    width: 180px;
    height: 45px;
    background-color:white;
    font-size: 18px;
    color:#521751 ;
    border: 2px solid #521751;
}

/*.box{*/
/*    width: 400px;*/
/*    height: 70px;*/
/*    background-color:#1b1e21;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    text-align: center;*/
/*}*/
/*.body_box{*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color: #4e555b;*/
/*    margin-top: 30px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/