@import '../../../sass/abstracts/variables';

.login{
    width: 100%;
    
    &__header{
        color:$color-dark-dark-2;
        text-align: center;
        font-size: 1.5rem;
    }

    &__box{
        // width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: #fff;
        // box-shadow: 0 .5rem 2rem 1rem rgba($color: $color-dark-dark-1, $alpha:.3);
    }

    &__btn{
        width: 10rem;
        height: 3rem;
        border-radius: 3rem;
        background-color:$color-primary ;
        color: $color-dark-light-1;
        font-size: 1.3rem;
        margin-top: 3rem;
    
        &:focus,
        &:active{
            outline: none;
        }

        &:hover{
            color:$color-primary;
            background-color:$color-dark-light-1;
            border: 2px solid $color-primary;
        }
    }

    // &__btn:active + &__row > &__input{
    //     &:invalid{
    //         border-bottom: 2px solid $color-primary-light;
    //     }
    // }

    &__input{
        width: 80%;
        border: none;
        outline: none;
        padding: 1rem;
        border-bottom: 2px solid $color-dark-dark-4;
        transition: all .3s;
        background-color: inherit;
        margin: 1rem auto 0 auto;
        font-size: 1rem;

        &:focus{
            border-bottom: 2px solid $color-primary2-dark;
        }

        &:focus:invalid{
            border-bottom: 2px solid $color-primary2-dark;
        }

        &:invalid{
            border-bottom: 2px solid $color-primary2-dark;
        }

        &:valid{
            border-bottom: 2px solid green;
        }
    }

    &__link{
        text-decoration: none;
        color: $color-dark-dark-2;
        margin-top: 1.3rem;
        font-size: 1rem;

        &:hover{
            text-decoration: none;
            color: $color-primary;
        }
    }
}